﻿@model IEnumerable<detyreASPmvc.Models.ProductStock>


<table class="table table-striped table-hover">
    @{
        if (Model.Count() == 0)
        {
            <tr>
                <b>
                    <p style="color: Red">Nuk ka produkte</p>
                </b>
            </tr>
        }
        else
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Barcode)
                </th>
                <th>
                    Emri produktit
                </th>
                <th>
                    Pershkrimi
                </th>
                <th>
                    Sasia
                </th>
                <th>
                    Cmimi njesi
                </th>
                <th>

                </th>
            </tr>
            foreach (var item in Model)
            {
                if (item.IsDeleted != true)
                {
                    if (item.Quantity != 0) //nuk ka negative => vetem ato > 0
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Barcode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td></td>
                        </tr>

                    }
                }
            }
        }
    }
</table>