﻿@model IEnumerable<detyreASPmvc.Models.ProductSold>

<table class="table table-striped table-hover">
    @if (Model.Count() == 0)
            {
        <tr>
            <b>
                <p style="color: Red">Nuk ka produkte te shitura</p>
            </b>
        </tr>
    }

    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductStock.Barcode)
            </th>
            <th>
                Emri i produktit
            </th>
            <th>
                Pershkrimi
            </th>
            <th>
                Sasia
            </th>
            <th>
                Cmimi Njesi
            </th>
            <th>
                Cmimi total
            </th>
            <th>
                Data e shitjes
            </th>

            <th>Mundesi</th>
        </tr>


        decimal PriceTotal = 0, UnitPriceTotal = 0;
        double QuantityTotal = 0;

        foreach (var item in Model)
        {
            UnitPriceTotal += item.UnitPrice;
            QuantityTotal += item.Quantity;
            PriceTotal += item.TotalPrice;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductStock.Barcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductStock.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductStock.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSold)
                </td>

                <td>
                    @Html.ActionLink("Edito", "Edito", new { id = item.SoldID }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Detale", "Detale", new { id = item.SoldID }, new { @class = "btn btn-info btn-xs" })
                    @Html.ActionLink("Fshije", "Fshije", new { id = item.SoldID }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
        <tr style="background-color: powderblue; color: black">
            <td colspan="3"><b>Total:</b></td>
            <td><b>@QuantityTotal</b></td>
            <td><b>@UnitPriceTotal</b></td>
            <td><b>@PriceTotal</b></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>

