﻿@model detyreASPmvc.Models.ProductSold

@{
    ViewBag.Title = "Detale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detale</h2>

<div>
    <h4>ProductSold</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductStock.Barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductStock.Barcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductStock.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductStock.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductStock.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductStock.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSold)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edito", "Edito", new { id = Model.SoldID }) |
    @Html.ActionLink("Kthehu prapa", "TeShiturat")
</p>
