﻿@model detyreASPmvc.Models.ProductSold

@{
    ViewBag.Title = "Fshije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fshije produktin e shitur</h2>

<h3>A jeni te sigurte per t'a fshire kete shitje?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductStock.Barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductStock.Barcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductStock.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductStock.ProductName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Fshije" class="btn btn-default" /> |
            @Html.ActionLink("Kthehu prapa", "TeShiturat")
        </div>
    }
</div>
