﻿@model IEnumerable<detyreASPmvc.Models.ProductStock>
@{
    ViewBag.Title = "Shitja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>

    function KontrolloPerValidim() {
        var barcode = document.getElementById("txtShitBarcode").value;
        var re = new RegExp("^[0-9]{6,6}$"); //{5,5} per eventin onkeypress
        //$("#btnSHITE").attr.disabled=false;
        if (re.test(barcode)) {
            document.getElementById("btnSHITE").disabled = false;
        } else {
            document.getElementById("btnSHITE").disabled = true;
        }
        document.getElementById("btnSHITE").disabled = !re.test(barcode);
    }

    $(document).ready(function () {
        $("#searchBy").change(function () {
            var val = $(this).val();
            if (val == "0") {
                $("#txtKerko").attr("placeholder", "Shtyp Barcode").val("").focus().blur();
                $("#txtKerko").attr('type', 'number');
            } else if (val == "1") {
                $("#txtKerko").attr("placeholder", "Shtyp emrin e produktit").val("").focus().blur();
                $("#txtKerko").attr('type', 'text');
            } else if (val == "2") {
                $("#txtKerko").attr("placeholder", "Shtyp pershkrimin").val("").focus().blur();
                $("#txtKerko").attr('type', 'text');
            }
        });
    });

    $(document).ready(function () {
        $("#prodDisponueshme").click(function () { //prodDisponueshme
            $("#pnlproduktet").fadeToggle("slow");  // $("#div1").fadeToggle(); ose 3000 per 3sec
        });
    });
</script>
<style>
    #prodDisponueshme:hover {
        cursor: pointer;
    }
</style>
<br/>
<div class="panel panel-default">
    <div class="panel-body">
        <div>
            @using (Html.BeginForm("ShiteProduktin", "Shitjet", FormMethod.Post))
            {
            <div class="form-group">
                <label class="control-label">Improvizimi i marketit</label>
                <div class="input-group">
                    <span class="input-group-addon" style="background-color: #7EBCA9; color:white">Barcode:</span>
                    @Html.TextBox("_Barcode", null, new { @class = "form-control", @id = "txtShitBarcode", @type = "number", @onchange = "KontrolloPerValidim();" })

                    <span class="input-group-btn">
                        <button type="submit" disabled="true" id="btnSHITE" class="btn" style="margin-right: 724px; background-color: #7EBCA9; color:white"> Shite</button>
                    </span>
                </div>
            </div>
            }
        </div>

    </div>
</div>
<br />
<div class="panel panel-info">
    <div class="panel-heading" style="background-color: #A3DBF1;">
        <h3 class="panel-title" id="prodDisponueshme">Produktet e disponueshme</h3>
    </div>
    <div class="panel-body" id="pnlproduktet" style="display:none">
        <div class="panel panel-default">
            <div class="panel-body">
                
                @using (Ajax.BeginForm("KerkoProdDisponueshme", "Shitjet", new AjaxOptions{ InsertionMode = InsertionMode.Replace, UpdateTargetId = "tblRezulatet"}))
                {
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" style="background-color:#A3DBF1; color:white">Kerko sipas: </span>
                            <select class="form-control" name="searchBy" id='searchBy' style="width: 150px">
                                <option value="0">Barcode</option>
                                <option value="1">Emri produktit</option>
                                <option value="2">Pershkrimit</option>
                            </select>
                            @Html.TextBox("Search", null, new { @id="txtKerko", @type = "number", placeholder = "Shtyp Barcode", @class = "form-control" })
                            <span class="input-group-btn">
                                <button type="submit" class="btn" id="btnKerko" style="margin-right: 486px; background-color: #A3DBF1; color:white">Kerko</button>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>

        <section id="tblRezulatet">
            @Html.Partial("_Shitja", Model)
        </section>


    </div>
</div>