﻿@model detyreASPmvc.CustomModel.ProductStock_cust

@{
    ViewBag.Title = "ShiteProduktin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Shite</h2>
<script>
    $(document).ready(function () {
    });

    function CalcPrice() {
        var unitPrice = $("#UnitPrice").val();  @*unitPrice = @Model.UnitPrice;*@
        var editQuantity = $("#editQuantity").val();//editQuantity = document.getElementById("editQuantity").value; @*// NUK BENE @ViewBag.sellQuantity = editQuantity;*@
        $("#TotPrice").val(unitPrice * editQuantity);  //document.getElementById("TotPrice").value = unitPrice * editQuantity;
     }
</script>
<hr />
@using (Html.BeginForm("KonfirmojShitjen", "Shitjet", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true) @*, "", new { @class = "text-danger" })labelat me i ba disabled textboxa*@
        @Html.HiddenFor(model => model.ProdID)
        @Html.HiddenFor(model => model.Barcode)
        @Html.HiddenFor(model => model.ProductName)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.UnitPrice)
        @Html.HiddenFor(model => model.Quantity)
        @Html.HiddenFor(model => model.IsDeleted)
        @Html.HiddenFor(model => model.DateRegister)
        @Html.HiddenFor(model => model.DateModified)
        @{ViewBag.ProdID = Model.ProdID;}@*new { htmlAttributes =  new{ @class = "control-label col-md-2" })*@
        <div class="form-group">
            @Html.LabelFor(model => model.Barcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.QuantitySold, htmlAttributes: new { @class = "control-label col-md-2" }) @*ose editor "*@
            <div class="col-md-10">
                @*@Html.TextBox("QuantitySold", null, new {@class = "form-control", @id = "editQuantity", @onchange = "CalcPrice();", @type = "number" })*@
                @Html.EditorFor(model => model.QuantitySold,new { htmlAttributes =new { @class = "form-control", @id = "editQuantity", @onchange = "CalcPrice();", @type = "number" }})
                @Html.ValidationMessageFor(model => model.QuantitySold, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", @id = "UnitPrice" } })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Price", htmlAttributes: new { @class = "control-label col-md-2", @id = "shemb" })
            <div class="col-md-10">
                @Html.TextBox("TotalPrice", null, new { @readonly = true, @id = "TotPrice", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="OK shite" class="btn btn-primary btn-xs" />
                @Html.ActionLink("Kthehu prapa", "Shitja", null, new { @class = "btn btn-info btn-xs" })
            </div>


        </div>

    </div>
            }

<p style="margin-left:197px">
    @*@("OK shite", "KonfirmojShitjen", "Home", new { Quantity=Model.Quantity @*id = Model.ProdID*@

</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
