﻿@model IEnumerable<detyreASPmvc.Models.ProductSold>

@{
    ViewBag.Title = "Te shiturat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Te shiturat</h2>
<link href="~/Content/Site.css" rel="stylesheet"/>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    $(document).ready(function() {
        $("#searchBy").change(function() {
            var val = $(this).val();
            if (val == "0") {
                $("#txtKerko").attr("placeholder", "Shtyp Barcode").val("").focus().blur();
                $("#txtKerko").attr('type', 'number');
            } else if (val == "1") {
                $("#txtKerko").attr("placeholder", "Shtyp emrin e produktit").val("").focus().blur();
                $("#txtKerko").attr('type', 'text');
            } else if (val == "2") {
                $("#txtKerko").attr("placeholder", "Shtyp pershkrimin").val("").focus().blur();
                $("#txtKerko").attr('type', 'text');
            }
        });
    });
</script>

<br />
<div class="panel panel-default">
    <div class="panel-body">
        @using (Ajax.BeginForm("KerkoTeShiturat", "Shitjet", new AjaxOptions
        { InsertionMode = InsertionMode.Replace, UpdateTargetId = "tblRezulatet" }))
        {
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="background-color: #7EBCA9; color: white">Kerko sipas: </span>
                    <select class="form-control" name="searchBy" id='searchBy' style="width: 150px">
                        <option value="0">Barcode</option>
                        <option value="1">Emri produktit</option>
                        <option value="2">Pershkrimit</option>
                    </select>
                    @Html.TextBox("Search", null, new {@id = "txtKerko", @type = "number", placeholder = "Shtyp Barcode", @class = "form-control"})
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn" style="margin-right: 518px; background-color: #7EBCA9; color: white">Kerko</button>
                    </span>
                </div>
            </div>
        }
    </div>
</div>
<div class="panel panel-success" >
    <div class="panel-heading"  style="background-color: #7EBCA9">
        <h3 class="panel-title">Produktet e shitura</h3>
    </div>
    <div class="panel-body">
        <section id="tblRezulatet">
            @Html.Partial("_TeShitura", Model)
        </section>

      
    </div>
</div>