﻿@model IEnumerable<detyreASPmvc.Models.ProductStock>
<table class="table table-striped table-hover">
    @{
        if (Model.Count() == 0)
        {
            <tr>
                <b>
                    <p style="color: Red">Nuk ka produkte</p>
                </b>
            </tr>
        }

        else
        {
            <tr>
                <th>
                    Nr.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Barcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateRegister)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateModified)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>*@
                <th>Action</th>
            </tr>

            int NrRendor = 1;
            foreach (var item in Model)
            {
                if (!item.IsDeleted == true) //nese eshte e fshire nuk del ne pamje
                {
                    <tr class="@(item.Quantity == 0 ? "EmptyQuantity" : "")">
                        <td>
                            <b>@( NrRendor++ )</b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Barcode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="@(item.Quantity == 0 ? "EmptyQuantity" : "")">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateRegister)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateModified)
                        </td>
                        @*<td>*@

                        @*@{ var text = item.IsDeleted ? "Po" : "Jo"; }
                            @text*@
                        @*</td>*@
                        <td>
                            @Html.ActionLink("Edito", "Edito", new { id = item.ProdID }, new { @class = "btn btn-info btn-xs" })
                            @Html.ActionLink("Detale", "Detale", new { id = item.ProdID }, new { @class = "btn btn-info btn-xs" })
                            @Html.ActionLink("Fshije", "Fshije", new { id = item.ProdID }, new { @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }
            }
        }
    }
</table>