﻿@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<div class="jumbotron">
    <h1>Market</h1>
    <p>Marketi i Filanit.</p>
    <p>Ky web Applikacion bene menaxhimin e stockut, punon ne modin ADMIN dhe USER. <br/>
        Ka mundesine e shtimit te produkteve te reja ne stock, kontrollimin dhe menaxhimin e stockut.
    <br/>Programi gjithashtu mundeson shitjen e produkteve e cila do te behej me lexues Barcode. Gjate operimit te shitjes, programi validon vlerat e lejuara te sasise direkt ne stock!
    </p>
</div>