﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>Kontakti me marketin</h3>

<address>
    Prishtine<br />
    Tirana, 17A<br />
    <abbr title="Numeri Telefonit">Nr.Tel:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>