﻿@model IEnumerable<detyreASPmvc.Models.ProductStock>

@{
    ViewBag.Title = "Ballina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .EmptyQuantity {color: red;}
    .EmptyQuantity:hover {color: cornflowerblue;}
    td.EmptyQuantity {color: firebrick;}
    td.EmptyQuantity:hover {background-color: chartreuse; color: red;}
</style>
<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/toastr.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    $(document).ready(function () {
        $("#searchBy").change(function () {
            var val = $(this).val();
            if (val == "0") {
                $("#txtKerko").attr("placeholder", "Shtyp Barcode").val("").focus().blur();
                $("#txtKerko").attr('type', 'number'); //$("#size").html("<option value='test'>item1: test 1</option><option value='test2'>item1: test 2</option>");
            } else if (val == "1") {
                $("#txtKerko").attr("placeholder", "Shtyp emrin e produktit").val("").focus().blur();
                $("#txtKerko").attr('type', 'text');
            } else if (val == "2") {
                $("#txtKerko").attr("placeholder", "Shtyp pershkrimin").val("").focus().blur();
                $("#txtKerko").attr('type', 'text'); //$("#size").html("<option value='test'>item1: test 1</option><option value='test2'>item1: test 2</option>");
            }
        });
    });

    function Gjendja() {
        $("#GjendjaNeStock").fadeToggle("slow");//.show("slow");
    }
</script>
<br />

<div class="jumbotron">
    <h1>PBC Market</h1>

    <p style="display: inline">
        @Html.ActionLink("Marketi", "Shitja", "Shitjet", null, new { @class = "btn btn-primary btn-sm" })
    </p>
    <p style="display: inline">
        <button onclick="Gjendja();" class = "btn btn-primary btn-sm">Shiko gjendjen ne stock </button>
    </p>
    <p style="display: inline">
        @Html.ActionLink("Shiko te shiturat", "TeShiturat", "Shitjet", null, new { @class = "btn btn-primary btn-sm" })
    </p>

</div>

<br />

<div id="GjendjaNeStock" class="panel panel-info" style="display: none" >
    <div class="panel-heading" style="background-color: #A3DBF1;">
        <h3 class="panel-title" style="display: inline;">Gjendja ne stock</h3>
        @Html.ActionLink("Shto produkt te ri", "ShtoProduktTeRi", "Home", new { @class = "btn  btn-sm", @style = "display: inline; float:right; color:white" })
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">

                @using (Ajax.BeginForm("KerkoNeIndex", "Home", new AjaxOptions
                {   InsertionMode = InsertionMode.Replace, UpdateTargetId = "tblRezulatet"}))
                {
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" style="background-color: #A3DBF1; color: white">Kerko sipas: </span>
                            <select class="form-control" name="searchBy" id='searchBy' style="width: 150px">
                                <option value="0">Barcode</option>
                                <option value="1">Emri produktit</option>
                                <option value="2">Pershkrimit</option>
                            </select>
                            @Html.TextBox("Search", null, new { @id = "txtKerko", @type="number", placeholder = "Shtyp Barcode", @class = "form-control" })
                            <span class="input-group-btn">
                                <button type="submit" class="btn " style="margin-right: 486px; background-color: #A3DBF1; color: white">Kerko</button>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <section id="tblRezulatet">
            @Html.Partial("_Index", Model)
        </section>
    </div>
</div>
