﻿@model detyreASPmvc.CustomModel.ProductStock_cust

@{
    ViewBag.Title = "Shto Produkt Te Ri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/toastr.css" rel="stylesheet"/>
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<script src="~/Scripts/toastr.js"></script>
<h2>Shto produkt te ri</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-left:400px">
        <h4>Mbush formularin</h4>
        <hr style="margin-right:460px"/>
        @Html.ValidationSummary(true) @*, "", new { @class = "text-danger" })*@

        @Html.HiddenFor(model => model.IsDeleted)
        @Html.HiddenFor(model => model.DateRegister)
        <div class="form-group">
            @*@Html.LabelFor(model => model.Barcode, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Barcode" } })
                @Html.ValidationMessageFor(model => model.Barcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">           
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Emri produktit" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pershkrimi" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "Sasia" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "Cmimi njesi" } })
                @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:-3.0px">
                @Html.ActionLink("Kthehu ne Stock", "Index",null, new { @class = "btn btn-info btn-sm" }) 
                <input type="submit" id="btn" value="Shto produktin" style="margin-left: 44px" class="btn btn-primary btn-sm"/>
                @*<button class="btn btn-success btn-sm" id="btn"> klk</button>*@
            </div>
        </div>
        
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>

    $("#btn").click(function() {
        toastr.success("Produkti i ri u shtua me sukses", "Njoftim");
    })
</script>